* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "LXGW Marker Gothic", sans-serif;
}

.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    height: 100vh;
    background: url(assets/clouds.jpg) no-repeat center center/ cover;
    display: flex;
}

h1 {
  width: 100%;
  font-size: 4rem;
  margin: 20px;
  justify-content: center;

}

h3 {
  font-size: 1.7rem;
  margin: 15px;

}

ul {
  margin: 10px;
  padding: auto;
  font-size: 1.2rem;
  list-style: none;
  line-height: 1.5;

}

li {

}

span {
  margin: 10px;
  font-size: 23px;
}